.footer-bg {
  background-color: var(--cor-12);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.footer-container h3 {
  margin-bottom: 2rem;
}
.footer-contato ul,
.footer-info ul {
  margin-bottom: 2rem;
}

.footer-contato li,
.footer-info li {
  margin-bottom: 1rem;
}
.footer-redes {
  display: flex;
  gap: 20px;
}

.footer-container a:hover {
  color: var(--cor-0);
}

.direitos {
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-img {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
