.depoimento-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
  gap: 40px;
  max-height: 520px;
}

.depoimento-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0px;
}
.depoimento-conteudo {
  padding-bottom: 80px;
  position: relative;
  margin: 40px 40px;
  place-self: center;
}
.depoimento-conteudo p {
  padding-bottom: 30px;
}
.depoimento-conteudo p::before,
.depoimento-conteudo p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.depoimento-conteudo p::before {
  content: "“";
  left: -40px;
  top: -20px;
}

.depoimento-conteudo p::after {
  content: "”";
}

@media (max-width: 800px) {
  .depoimento-container {
    grid-template-columns: 1fr;
  }
  .depoimento-container img {
    max-height: 200px;
    width: 100%;
  }
  .depoimento-conteudo {
    max-width: 500px;
    padding-bottom: 24px;
  }
  .depoimento-conteudo p::before {
    content: "“";
    left: -36px;
    top: -36px;
  }

  .depoimento-conteudo p {
    font-size: 1.5rem;
  }

  .depoimento-conteudo span {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .depoimento-conteudo p {
    font-size: 1.125rem;
  }
}
